<template>
  <div class="card" style="">
    <img class="card-img-top" alt="..." v-bind:src="obrazek" />
    <div class="card-body">
      <h2 class="card-title">{{nazev}}</h2>

      <span
        style="font-size:100%;"
        v-bind:key="stitek"
        v-for="(stitek) in stitky"
        class="stitek badge badge-success"
      >{{stitek}}</span>

      <div class="container">
        <div class="odsun row border-top border-secondary">
          <div style="font-weight: bold;" class="col-sm odsun">{{dobaPripravy}}</div>
          <div style="font-weight: bold;" class="col-sm odsun">{{porce}} lidí</div>
        </div>
      </div>
      <div style="padding: 0px;" class="odsun d-flex justify-content-center  container border-top border-secondary">
        <div class="row">
          <div style="padding: 0px!important" class="col-sm">
            <ul class="list-group list-group-flush">
              <li
                class="list-group-item "
                v-bind:key="surovina"
                v-for="(surovina) in suroviny"
              >{{surovina}}</li>
            </ul>
          </div>
          <div class="col-sm">
            <ul class="list-group list-group-flush ">
              <li
                class="list-group-item "
                v-bind:key="k"
                v-for="(k) in koreni"
              >{{k}}</li>
            </ul>
          </div>
        </div>
      </div>
      <router-link class="btn odsun btn-success" :to="id">Otevři recept</router-link>
    </div>
  </div>
</template>

<script>
export default {
  name: "Card",
  props: {
    nazev: String,
    obrazek: String,
    dobaPripravy: String,
    porce: String,
    stitky: Array,
    suroviny: Array,
    koreni: Array,
    id: String
  }
};
</script>

<style scoped>
.odsun {
  margin-top: 12px;
}

.stitek {
  margin-bottom: 0px;
  margin-right: 5px;
}
</style>